
.myWorkPage_container_body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
   
}
.MyWorkPage_items {
    margin: 10px 20px 50px 30px;
}

.MyWorkPage_items a{
    width: 325px;
    height: 400px;
}
.MyWorkPage_items a img{
    width: 325px;
    height: 325px;
    margin-bottom: 20px;
}
.MyWorkPage_items a div p{
    padding: 2px 20px;
    
}
.myWork_image {
    width: 100%;
}
