

.MyWorkPage_items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30vh;
}

.MyWorkPage_items a{
    width: 325px;
    height: 400px;
}
.MyWorkPage_items a img{
    border: 1px solid black;
    width: 325px;
    height: 325px;
    margin-bottom: 20px;
}
.MyWorkPage_items a div p{
    padding: 2px 20px;
    
}